::-moz-selection {
	background: #cfd6e1;
	text-shadow: none;
}

::selection {
	background: #cfd6e1;
	text-shadow: none;
}

.browserupgrade {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
	text-align: center;
}

* {
	box-sizing: -moz-box-sizing;
	box-sizing: -webkit-box-sizing;
	box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6, ul {margin: 0}

ul {padding: 0}

body {
	max-width: 1920px;
	min-width: 1280px;
	margin: 0 auto;
	padding: 1.5625%;
	position: relative;
	background: white;
	line-height: 1;
	font-size: 1em;
	@include font();
	color: map-get($colors, grey);

	&::before {
		content: "";
		position: absolute;
		top: 0; left: 0; right: 0; bottom: 0;
		background: url(../resources/images/bg.jpg) repeat;
		opacity: 0.3;
	}
}

main {position: relative}

.content {
	width: $content-width;
	margin: auto;
}

.content-header + .content {margin-top: 60px}

.popup-overlay {
	position: fixed;
	top: 0; left: 0;
	width: 100%; height: 100%;
	background: map-get($colors, blue);
	opacity: 0.5;
	z-index: 9998;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: visibility 0s, opacity 0.325s;
	-moz-transition: visibility 0s, opacity 0.325s;
	-ms-transition: visibility 0s, opacity 0.325s;
	-o-transition: visibility 0s, opacity 0.325s;
	transition: visibility 0s, opacity 0.325s;

	&--active {
		opacity: 0.5;
		visibility: visible;
	}
}

.popup {
	position: fixed;
	width: 438px;
	top: 50%; left: 0; right: 0;
	margin: -223.5px auto 0 auto;
	border: 10px solid #f6f6f6;
	z-index: 9999;
	background: white;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: visibility 0s, opacity 0.325s;
	-moz-transition: visibility 0s, opacity 0.325s;
	-ms-transition: visibility 0s, opacity 0.325s;
	-o-transition: visibility 0s, opacity 0.325s;
	transition: visibility 0s, opacity 0.325s;

	&--active {
		opacity: 1;
		visibility: visible;
	}

	&__success {display: none}

	&__close {
		padding: 0;
		width: 26px; height: 26px;
		position: absolute;
		top: -46px; right: -46px;
		border: none;
		outline: none;
		cursor: pointer;
		background: transparent;

		.svg-icon {
			@include transition(fill);
		}
	}

	&__close:hover > .svg-icon {fill: map-get($colors, blue)}

	&__content {
		text-align: center;
		@include font-size(20px);
		padding: 2.5em 1.5em;
	}

	&__title {
		font-size: 1em;
		@include font(roboto-slab-bold);
		line-height: 1.4;
		color: map-get($colors, blue);
	}

	&__title + &__fields {margin-top: 1.9em}

	&__button {
		font-size: 0.9em;
		margin-top: 3.333333333333333em;
	}
}

.input {
	display: block;
	width: 100%;
	outline: none;
	border: 1px solid #c4c4c4;
	background: white;
	text-align: left;
	font-size: 0.8em;
	padding: 0.78125em 1.25em;
	@include transition(border);

	& + & {margin-top: 3.75em}

	&:focus {border-color: map-get($colors, blue)}

	&--error,
	&--error:focus {border-color: #be5c5c}
}

.input::-webkit-input-placeholder {color: #c4c4c4}
.input::-moz-placeholder {color: #c4c4c4}
.input:-moz-placeholder {color: #c4c4c4}
.input:-ms-input-placeholder {color: #c4c4c4}

.input--error::-webkit-input-placeholder {color: #be5c5c}
.input--error::-moz-placeholder {color: #be5c5c}
.input--error:-moz-placeholder {color: #be5c5c}
.input--error:-ms-input-placeholder {color: #be5c5c}

.contact-phones {
	list-style: none;

	&--header {
		display: inline-block;
		text-align: left;
	}

	&__item {
		@include font-size(18px);
		line-height: 1;

		&--fixed-header {
			margin-top: 2.5em;
			display: none;
		}

		& + & {margin-top: 0.7222222222222222em}
		&--fixed-header + & {margin-top: 0}
	}

	&__icon {
		display: inline-block;
		width: 0.7222222222222222em; height: 0.7222222222222222em;
		margin-right: 0.8333333333333333em;
	}

	&__tel {
		text-decoration: none;
		color: map-get($colors, grey);
		position: relative;

		&--b {
			font-size: 1.055555555555556em;
			@include font(myriad-pro-semibold);
		}

		&--white {color: white}
	}
}

.additional-info {
	margin-top: 145px;
	background: white;
	padding: 3.333333333333333em 0;
	@include font-size(18px);

	&__paragraph {
		width: $content-width;
		margin: auto;
		font-size: 1em;
		line-height: 1.555555555555556;
	}
}

.text-block {
	background: white;
	@include font-size(18px);
	padding: 3.333333333333333em 1.666666666666667em;

	&--partnership {margin-top: 45px}

	&--production,
	&--bordered {
		padding: 1.666666666666667em;
	}

	&--bordered {
		border: 1px solid map-get($colors, blue)
	}

	&__paragraph {
		line-height: 1.555555555555556;

		&--button {text-align: center}

		& + & {margin-top: 1.555555555555556em}
	}
}

.gallery {
	width: ($content-width + 30px);
	margin: -1.288659793814433% auto 0 auto;
	font-size: 0;

	&--about {
		margin-top: 45px;
	}

	&__item {
		display: inline-block;
		vertical-align: top;
		width: 50%; height: 320px;
		padding: 15px 1.288659793814433%;
	}

	&__img {
		display: block;
		width: 100%; height: 100%;
		border: 10px solid #f6f6f6;
		outline: none;
	}
}


// HEADER START
.l_header {
	min-height: 153px;
	padding: 35px 0 6px 0;
	background: white;
	position: relative;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.35);
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.35);

	&--fixed {
		position: fixed;
		left: 1.5625%; right: 1.5625%; top: 0;
		z-index: 450;
		opacity: 0;
	}

	&::after {
		content: "";
		position: absolute;
		left: 0; bottom: 0;
		width: 100%; height: 5px;
		background: map-get($colors, blue);
		border-bottom: 1px solid map-get($colors, dark-white);
	}
}

@media screen and (max-width: 1300px) {
	.l_header--fixed {display: none}
}

.l_header--fixed .contact-phones__item {display: none}
.l_header--fixed .contact-phones__item--fixed-header {display: block}

.header {
	width: 1164px;
	margin: auto;
	font-size: 0;

	&__content {
		font-size: 0;
		padding: 0 1.288659793814433%;
	}

	&__logo,
	&__nav,
	&__phones {
		display: inline-block;
		vertical-align: top;
	}

	&__logo {
		@include responsive-svg-container(19.1358024691358%, 488, 165);
	}

	&__logo-svg {
		@include responsive-svg();
	}

	&__nav {
		width: 60.84656084656085%;
		text-align: right;
	}

	&__phones {
		width: 20.01763668430335%;
		text-align: right;
	}
}

.baitecs-logo-text {fill: map-get($colors, grey)}
.baitecs-logo-sign {fill: map-get($colors, blue)}

.menu {
	display: inline-block;
	list-style: none;
	font-size: 0;

	&__item {
		display: inline-block;
		vertical-align: top;
		@include font-size(18px);
		margin-top: 2.555555555555556em;
		padding-bottom: calc(0.8333333333333333em + 1px);
		overflow: hidden;

		& + & {margin-left: 2.444444444444444em}
	}

	&__link {
		text-decoration: none;
		text-transform: uppercase;
		line-height: 1;
		color: map-get($colors, grey);
		position: relative;

		&--active {
			color: map-get($colors, blue);
			cursor: default;
		}

		&::after {
			content: "";
			position: absolute;
			bottom: calc(-0.8333333333333333em + 2px); left: 0;
			width: 0; height: 1px;
			background: map-get($colors, blue);
			@include transition(width);
		}

		&:hover::after {width: 100%}
		&--active:hover::after {width: 0}
	}
}
// HEADER END


// FOOTER START
.footer-container {
	text-align: center;
	padding-top: 88px;
	position: relative;

	&--map {padding-top: 40px}
}

.map {
	height: 702px;
	border-top: 2px solid map-get($colors, blue);
	position: relative;
}

.up {
	display: inline-block;
	box-sizing: content-box;
	height: 67px;

	&--on-map {
		position: absolute;
		left: 0; right: 0;
		z-index: 450;
		top: 638px;
	}

	&__btn {
		width: 64px; height: 64px;
		padding: 0;
		display: block;
		outline: none;
		margin: auto;
		position: relative;

		&--fixed {
			position: fixed;
			bottom: 32px; // if will change, change in js too
			left: 0; right: 0;
			z-index: 450;
			opacity: 0;
		}

		&::before,
		&::after {
			content: "";
			position: absolute;
		}

		&::before {
			top: 3px; left: 3px;
			width: 100%; height: 100%;
			background: #c4c4c4;
			@include transition(all);
		}

		&::after {
			top: 0; left: 0;
			width: 62px; height: 62px;
			background: white;
			border: 1px solid map-get($colors, blue);
			@include transition(background);
		}
	}

	&__icon {
		box-sizing: content-box;
		width: 19px; height: 11px;
		position: relative;
		z-index: 1;
		margin: auto;
		padding: 26.5px 0;
	}

	&__svg {
		fill: map-get($colors, blue);
		@include transition(fill);
	}

	&__btn:hover::after,
	&__btn:focus::after {background: map-get($colors, blue)}
	&__btn:hover &__svg,
	&__btn:focus &__svg {fill: white}

	&__btn:active::before {
		top: 0; left: 0;
	}
}

@media screen and (max-width: 1300px) {
	.up__btn--fixed {display: none}
}

.l_footer {
	background: map-get($colors, light-grey);
	margin-top: 85px;

	&--map {
		margin-top: 0;
	}
}

.footer {
	width: 1164px;
	padding: 39.5px 0;
	margin: auto;

	&__content {
		font-size: 0;
		padding: 0 1.288659793814433%;
	}

	&__column {
		display: inline-block;
		vertical-align: top;
		width: 33.33333333333333%;

		&--phones {text-align: left}
		&--logo {text-align: center}
		&--mmit {text-align: right}
	}


	&__logo {
		display: inline-block;
		vertical-align: top;
		@include responsive-svg-container(218px, 488, 165);
	}

	&__logo-svg {
		@include responsive-svg();
		fill: white;
	}
}

.mmit {
	display: inline-block;
	vertical-align: top;
	text-align: left;
	@include font-size(12px);

	&__text {
		@include font(roboto-slab-bold);
		color: white;
		line-height: 1;
		text-transform: uppercase;
	}

	&__logo {
		margin-top: 1.666666666666667em;
		display: block;
		@include responsive-svg-container(13.16666666666667em, 90, 22);
	}

	&__svg {@include responsive-svg()}

	.mega,
	.it,
	.mir {@include transition(fill)}

	.mega, .it {fill: white}
	.mir {fill: map-get($colors, blue)}

	&__logo:hover .mega,
	&__logo:hover .it {fill: map-get($colors, blue)}
	&__logo:hover .mir {fill: white}

	&__logo:focus .mega,
	&__logo:focus .it {fill: map-get($colors, blue)}
	&__logo:focus .mir {fill: white}
}

.copyright {
	@include font-size(12px);
	@include font(roboto-slab-bold);
	text-transform: uppercase;
	color: white;
	text-align: center;
	line-height: 1;
	padding: 2.833333333333333em 0;
	background: map-get($colors, blue);
}

.leaflet-popup::before {
	content: "";
	width: 39px; height: 51px;
	position: absolute;
	bottom: -66px; left: 0; right: 0;
	margin: auto;
	background: url(../resources/images/map-target.png) center no-repeat;
}

.leaflet-popup-tip-container.leaflet-popup-tip-container_svg {
	height: 66px;
	opacity: 0;
}

.leaflet-popup-content-wrapper {
	background: rgba(30,63,111,0.9) !important;
		border-radius: 0 !important;
		text-align: center !important;
}

.leaflet-popup-content {margin: 0 !important}

.leaflet-popup-content-wrapper:before,
.leaflet-container a.leaflet-popup-close-button:after {display: none !important}

.leaflet-container a.leaflet-popup-close-button {
	top: 0 !important; right: 0 !important;
	color: white !important;
	width: 20px !important; height: 20px !important;
	line-height: 18px !important;
}

.map-popup {
	width: 220px;
}

.map-popup__text {
	@include font-size(18px);
	@include font();
	color: white;
	padding: 1.5em;
}
// FOOTER END


// SVG ICONS START
.svg-icon {
	display: block;
	width: 100%; height: 100%;

	&--product-teaser {
		position: absolute;
		top: 0; left: 0;
		fill: white;
	}

	&--header-phone {fill: map-get($colors, blue)}

	&--footer-phone,
	&--footer-logo,
	&--advantage,
	&--white {fill: white}
}
// SVG ICONS END


// TITLES START
.title {
	text-align: center;
	@include font(roboto-slab-light);
	@include font-size(60px);
	line-height: 1;
	color: white;

	&--b {
		@include font(roboto-slab);
	}

	&--girls {
		background: map-get($colors, blue);
		padding: 1.833333333333333em 0;
	}

	&--production {
		padding-bottom: 1em;
	}

	&--content-header {
		background: map-get($colors, blue);
		padding: 2em 0;
	}

	&--blue {color: map-get($colors, blue)}

	&--left {text-align: left}
}

.sub-title {
	@include font(roboto-slab-bold);
	@include font-size(20px);
	line-height: 1;
	color: map-get($colors, blue);

	&--about-company-teaser {
		padding: 1em 0 2.5em 0;
	}
}
// TITLES END


// BUTTONS START
	.button {
		background: transparent;
		border: none;
		padding: 0;
		display: inline-block;
		vertical-align: top;
		text-decoration: none;
		position: relative;
		outline: none;
		@include font-size(18px);

		&--block {
			display: block;
			width: 100%;
		}

		&--lower-case {text-transform: lowercase}

		&::before {
			content: "";
			width: 100%; height: 100%;
			position: absolute;
			top: 3px; left: 3px;
			background: #c4c4c4;
			@include transition(all);
		}

		&__text {
			display: block;
			position: relative;
			z-index: 1;
			font-size: 1em;
			padding: 0.8055555555555556em 1.166666666666667em;
			color: map-get($colors, blue);
			text-align: center;
			background: white;
			border: 1px solid map-get($colors, blue);
			@include transition(all);
		}

		&--has-line {
			&::after {
				content: "";
				width: 40px; height: 1px;
				position: absolute;
				top: 50%; right: -32px;
				margin-top: -0.5px;
				z-index: 2;
				background: map-get($colors, blue);
				@include transition(right);
			}
		}

		&:hover > &__text,
		&:focus > &__text {
			color: white;
			background: map-get($colors, blue);
		}

		&:active::before {left: 0; top: 0}

		&--has-line:active::after {right: -50px}

		&--disabled > &__text,
		&--disabled:hover > &__text {
			border-color: #c4c4c4;
			background: white;
			color: #c4c4c4;
		}

		&--disabled::before {display: none}
	}
// BUTTONS END

// CONTENT HEADER START
.content-header {
	&__cover {
		min-height: 200px;
		padding: 23px 0;
		position: relative;

		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 0; right: 0; bottom: 0; left: 0;
		}

		&::before {
			background: url(../resources/images/advantages-bg.jpg) top center no-repeat;
			background-size: cover;
		}

		&::after {
			background: url(../resources/images/advantages-pattern.png) repeat;
		}
	}
}

.breadcrumbs {
	position: relative;
	z-index: 1;
	list-style: none;
	width: $content-width;
	margin: auto;
	font-size: 0;

	&__item {
		display: inline-block;
		vertical-align: top;
		@include font-size(18px);

		& + & {margin-left: 0.8333333333333333em}
	}

	&__link {font-size: 1em}
}
// CONTENT HEADER END


// HELPERS START
.blue-text {color: map-get($colors, blue)}
// HELPERS END


/*
		Colorbox Core Style:
		The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden; -webkit-transform: translate3d(0,0,0);}
#cboxWrapper {max-width:none;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0; padding:0; margin:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}
/*
		User Style:
		Change the following styles to modify the appearance of Colorbox.  They are
		ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:#000; opacity: 0.9; filter: alpha(opacity = 90);}
#colorbox{outline:0;}
#cboxContent{margin-top:20px;background:white;}
.cboxIframe{background:#fff;}
#cboxError{padding:50px; border:1px solid #ccc;}
#cboxLoadedContent{border:5px solid #000; background:#fff;}
#cboxTitle{position:absolute; top:-20px; left:0; color:#ccc;}
#cboxCurrent{position:absolute; top:-20px; right:0px; color:#ccc;}
#cboxLoadingGraphic{background:url(images/loading.gif) no-repeat center center;}
/* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible; width:auto; background:none; }
/* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
#cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}
#cboxSlideshow{position:absolute; top:-20px; right:90px; color:#fff;}
#cboxPrevious{position:absolute; top:50%; left:5px; margin-top:-32px; background:url(images/controls.png) no-repeat top left; width:28px; height:65px; text-indent:-9999px;}
#cboxNext{position:absolute; top:50%; right:5px; margin-top:-32px; background:url(images/controls.png) no-repeat top right; width:28px; height:65px; text-indent:-9999px;}
#cboxClose{position:absolute; top:5px; right:5px; display:block; background:url(images/controls.png) no-repeat top center; width:38px; height:19px; text-indent:-9999px;}
#cboxClose:hover{background-position:bottom center;}
#cboxCurrent {display: none !important}
#cboxLoadedContent {border: 10px solid white}
#cboxNext,
#cboxPrevious {
	width: 13px; height: 24px;
	margin-top: -12px;
	outline: none;
}
#cboxNext {
	right: -43px;
	background: url('data:image/svg+xml;utf8,<svg fill="white" version="1.2" baseProfile="tiny" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 29 51"><path d="M28,27.9L6.1,49.8c-1.4,1.4-3.6,1.4-5,0c-1.4-1.4-1.4-3.6,0-5l19.4-19.4L1.1,6.1 c-1.4-1.4-1.4-3.6,0-5c1.4-1.4,3.6-1.4,5,0L28,22.9c0.7,0.7,1,1.6,1,2.5C29,26.3,28.7,27.2,28,27.9z"/></svg>') center no-repeat;
	background-size: contain;
}
#cboxPrevious {
	left: -43px;
	background: url('data:image/svg+xml;utf8,<svg fill="white" version="1.2" baseProfile="tiny" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 29 51"><path d="M1,22.9L22.9,1c1.4-1.4,3.6-1.4,5,0c1.4,1.4,1.4,3.6,0,5L8.6,25.4l19.3,19.3 c1.4,1.4,1.4,3.6,0,5c-1.4,1.4-3.6,1.4-5,0L1,27.9c-0.7-0.7-1-1.6-1-2.5C0,24.5,0.3,23.6,1,22.9z"/></svg>') center no-repeat;
	background-size: contain;
}
#colorbox, #cboxOverlay, #cboxWrapper {overflow: visible}
#cboxClose {
	width: 26px;
	height: 26px;
	top: -36px; right: -36px;
	outline: none;
	background: url('data:image/svg+xml;utf8,<svg fill="white" xmlns="http://www.w3.org/2000/svg" version="1.2" baseProfile="tiny" viewBox="0 0 25 25"><path d="M14.7 12.5l9.8-9.8c.6-.6.6-1.6 0-2.2-.6-.6-1.6-.6-2.2 0l-9.8 9.8L2.7.5C2.1-.1 1.1-.1.5.5c-.6.6-.6 1.6 0 2.2l9.8 9.8-9.8 9.8c-.6.6-.6 1.6 0 2.2.3.3.7.5 1.1.5s.8-.2 1.1-.5l9.8-9.8 9.8 9.8c.3.3.7.5 1.1.5s.8-.2 1.1-.5c.6-.6.6-1.6 0-2.2l-9.8-9.8z"/></svg>') center no-repeat;
	background-size: contain;
}
#cboxOverlay {
	background: map-get($colors, blue);
	opacity: 0.5 !important;
}
