doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(http-equiv="x-ua-compatible", content="ie=edge")
		title Байтекс
		meta(name="description", content="")
		link(rel="apple-touch-icon", href="/apple-touch-icon.png")
		link(rel="icon", type="image/png", href="/favicon-32x32.png" sizes="32x32")
		link(rel="icon", type="image/png", href="/favicon-16x16.png" sizes="16x16")
		link(href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700&subset=cyrillic", rel="stylesheet")
		link(rel="stylesheet", href="/assets/css/main.css")
	body
		main(id="main")
			include ../blocks/header

			div(class="content-header")
				div(class="content-header__cover")
					ul(class="breadcrumbs")
						li(class="breadcrumbs__item")
							a(class="button breadcrumbs__link", href="/")
								span(class="button__text") Главная страница
						li(class="breadcrumbs__item")
							span(class="button button--disabled breadcrumbs__link")
								span(class="button__text") О компании
				h1(class="title title--content-header") О компании
				
			div(class="content")
				div(class="text-block")
					p(class="text-block__paragraph")
						span(class="blue-text") Стабильно:
						|  Компания &laquo;Байтекс&raquo; (ИП&nbsp;Бетина&nbsp;НН) существует на&nbsp;рынке оптовых поставок с&nbsp;2000&nbsp;года, на&nbsp;сегодняшний день это одна из&nbsp;крупнейших фирм на&nbsp;рынке трикотажа, белья и&nbsp;колготок по&nbsp;Восточно-Сибирскому региону. Индивидуальный подход к&nbsp;партнерам и&nbsp;постоянное исследование рынка сделали нашу компанию лидером в&nbsp;своей сфере.
					p(class="text-block__paragraph")
						span(class="blue-text") Удобно:
						|  Для наших постоянных клиентов&nbsp;&mdash; постоянно обновляющийся ассортимент продукции в&nbsp;каждом из&nbsp;наших направлений, большой выбор, эксклюзивные скидки. Для новых клиентов&nbsp;&mdash; сотрудники отдела продаж помогут советами, поделятся интересной информацией о&nbsp;новых технологиях, современных тенденциях в&nbsp;тканях и&nbsp;материалах. Подберут продукцию индивидуально, с&nbsp;учетом возможностей и&nbsp;особенностей вашего бизнеса.
					p(class="text-block__paragraph")
						span(class="blue-text") Выгодно:
						|  Наша компания работает напрямую с&nbsp;производителями, поэтому гарантируем качество и&nbsp;подлинность представленных изделий, и&nbsp;низкие цены. По&nbsp;качеству отечественная продукция не&nbsp;уступает импортной, а&nbsp;иногда и&nbsp;превосходит. А&nbsp;по&nbsp;ценам, гораздо более приемлема для оптовика и&nbsp;доступна для конечного потребителя с&nbsp;обычным уровнем доходов.

				ul(class="features")
					li(class="features__item")
						div(class="features__icon")
							svg(class="svg-icon svg-icon--white")
								use(xlink:href="#people")
						p(class="features__text") Продукция ведущих Российских производителей
					li(class="features__item")
						div(class="features__icon")
							svg(class="svg-icon svg-icon--white")
								use(xlink:href="#car")
						p(class="features__text") Бесплатная доставка по&nbsp;Иркутску
					li(class="features__item")
						div(class="features__icon")
							svg(class="svg-icon svg-icon--white")
								use(xlink:href="#discount")
						p(class="features__text") Отсрочка платежей и&nbsp;гибкая система скидок
					li(class="features__item")
						div(class="features__icon")
							svg(class="svg-icon svg-icon--advantage")
								use(xlink:href="#shop")
						p(class="features__text") Самый большой магазин-склад
						
			ul(class="gallery gallery--about")
				li(class="gallery__item")
					a(class="gallery__img gallery-item", href="/assets/resources/images/photo1.jpg", rel="group", style="background: url(/assets/resources/images/photo1.jpg) center no-repeat; background-size: cover;")
				li(class="gallery__item")
					a(class="gallery__img gallery-item", href="/assets/resources/images/photo2.jpg", rel="group", style="background: url(/assets/resources/images/photo2.jpg) center no-repeat; background-size: cover;")
					
			include ../blocks/footer