doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(http-equiv="x-ua-compatible", content="ie=edge")
		title Байтекс
		meta(name="description", content="")
		link(rel="apple-touch-icon", href="/apple-touch-icon.png")
		link(rel="icon", type="image/png", href="/favicon-32x32.png" sizes="32x32")
		link(rel="icon", type="image/png", href="/favicon-16x16.png" sizes="16x16")
		link(href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700&subset=cyrillic", rel="stylesheet")
		link(rel="stylesheet", href="/assets/css/main.css")
	body
		main(id="main")
			include ../blocks/header
			
			div(class="content-header")
				div(class="content-header__cover")
					ul(class="breadcrumbs")
						li(class="breadcrumbs__item")
							a(class="button breadcrumbs__link", href="/")
								span(class="button__text") Главная страница
						li(class="breadcrumbs__item")
							span(class="button button--disabled breadcrumbs__link")
								span(class="button__text") Контакты
				h1(class="title title--content-header") Контактная информация
				
			ul(class="contacts")
				li(class="contacts__item")
					h2(class="contacts__object-name") Склад №1
					p(class="contacts__paragraph")
						span(class="blue-text") Адрес:
						|  г.&nbsp;Иркутск, ул.&nbsp;Терешковой,&nbsp;22.
					p(class="contacts__paragraph")
						span(class="blue-text") Телефон: 
						a(href="tel:+7(3952)25-81-10" class="not-decorate") +7&nbsp;(3952)&nbsp;25-81-10
						| ; 
						a(href="tel:+7(3952)38-07-27" class="not-decorate") +7&nbsp;(3952)&nbsp;38-07-27
					p(class="contacts__paragraph")
						span(class="blue-text") E-mail: 
						a(href="mailto:baiteks@email.ru", class="not-decorate") baiteks@email.ru
					button(class="contacts__show-on-the-map button button--disabled button--lower-case contacts__button", id="storage1")
						span(class="button__text") Смотреть на карте
				li(class="contacts__item")
					h2(class="contacts__object-name") Склад №2
					p(class="contacts__paragraph")
						span(class="blue-text") Адрес:
						|  г.&nbsp;Иркутск, ул.&nbsp;Софьи Перовской,&nbsp;29а.
					p(class="contacts__paragraph")
						span(class="blue-text") Телефон: 
						a(href="tel:+7(3952)20-91-12" class="not-decorate") +7&nbsp;(3952)&nbsp;20-91-12
					p(class="contacts__paragraph")
						span(class="blue-text") E-mail: 
						a(href="mailto:baiteks-sk2@mail.ru", class="not-decorate") baiteks-sk2@mail.ru
					button(class="contacts__show-on-the-map button button--lower-case contacts__button", id="storage2")
						span(class="button__text") Смотреть на карте
			
			include ../blocks/footer-with-map