doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(http-equiv="x-ua-compatible", content="ie=edge")
		title Байтекс
		meta(name="description", content="")
		link(rel="apple-touch-icon", href="/apple-touch-icon.png")
		link(rel="icon", type="image/png", href="/favicon-32x32.png" sizes="32x32")
		link(rel="icon", type="image/png", href="/favicon-16x16.png" sizes="16x16")
		link(href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700&subset=cyrillic", rel="stylesheet")
		link(rel="stylesheet", href="/assets/css/main.css")
	body
		main(id="main")
			include ../blocks/header
			
			div(class="content-header")
				div(class="content-header__cover")
					ul(class="breadcrumbs")
						li(class="breadcrumbs__item")
							a(class="button breadcrumbs__link", href="/")
								span(class="button__text") Главная страница
						li(class="breadcrumbs__item")
							span(class="button button--disabled breadcrumbs__link")
								span(class="button__text") Сотрудничество
				h1(class="title title--content-header") Сотрудничество
				
			div(class="content")
				ul(class="profits")
					li(class="profits__item")
						div(class="profit")
							div(class="profit__header")
								i(class="profit__icon")
									svg(class="svg-icon svg-icon--white")
										use(xlink:href="#car")
								h2(class="profit__title") Отправка в регионы
							div(class="profit__content")
								p(class="profit__text")
									| Нашими постоянными клиентами являются не&nbsp;только оптовики Иркутска и&nbsp;Иркутской области, но&nbsp;также из&nbsp;Бурятии, Забайкальского края и&nbsp;Якутии и&nbsp;мы&nbsp;намерены расширять горизонты. Мы&nbsp;осуществляем доставку товаров на&nbsp;своем. Нашими постоянными клиентами являются не&nbsp;только оптовики Иркутска и&nbsp;Иркутской области, но&nbsp;также из&nbsp;Бурятии, Забайкальского края и&nbsp;Якутии и&nbsp;мы&nbsp;намерены расширять горизонты. Мы&nbsp;осуществляем доставку товаров на&nbsp;своем.
								button(class="profit__more")
									i(class="profit__arrow")
					li(class="profits__item")
						div(class="profit")
							div(class="profit__header")
								i(class="profit__icon")
									svg(class="svg-icon svg-icon--white")
										use(xlink:href="#shop")
								h2(class="profit__title") Огромный ассортимент 40 000+ наименований
							div(class="profit__content")
								p(class="profit__text")
									| Текст
								button(class="profit__more")
									i(class="profit__arrow")
					li(class="profits__item")
						div(class="profit")
							div(class="profit__header")
								i(class="profit__icon")
									svg(class="svg-icon svg-icon--white")
										use(xlink:href="#discount")
								h2(class="profit__title") Выгодная система скидок до 12%
							div(class="profit__content")
								p(class="profit__text")
									| Нашими постоянными клиентами являются не&nbsp;только оптовики Иркутска и&nbsp;Иркутской области, но&nbsp;также из&nbsp;Бурятии, Забайкальского края и&nbsp;Якутии и&nbsp;мы&nbsp;намерены расширять горизонты. Мы&nbsp;осуществляем доставку товаров на&nbsp;своем. Нашими постоянными клиентами являются не&nbsp;только оптовики Иркутска и&nbsp;Иркутской области, но&nbsp;также из&nbsp;Бурятии, Забайкальского края и&nbsp;Якутии и&nbsp;мы&nbsp;намерены расширять горизонты. Мы&nbsp;осуществляем доставку товаров на&nbsp;своем.
								button(class="profit__more")
									i(class="profit__arrow")
					li(class="profits__item")
						div(class="profit")
							div(class="profit__header")
								i(class="profit__icon")
									svg(class="svg-icon svg-icon--white")
										use(xlink:href="#money")
								h2(class="profit__title") Отсрочки
							div(class="profit__content")
								p(class="profit__text")
									| Нашими постоянными клиентами являются не&nbsp;только оптовики Иркутска и&nbsp;Иркутской области, но&nbsp;также из&nbsp;Бурятии, Забайкальского края и&nbsp;Якутии и&nbsp;мы&nbsp;намерены расширять горизонты. Мы&nbsp;осуществляем доставку товаров на&nbsp;своем. Нашими постоянными клиентами являются не&nbsp;только оптовики Иркутска и&nbsp;Иркутской области, но&nbsp;также из&nbsp;Бурятии, Забайкальского края и&nbsp;Якутии и&nbsp;мы&nbsp;намерены расширять горизонты. Мы&nbsp;осуществляем доставку товаров на&nbsp;своем.
								button(class="profit__more")
									i(class="profit__arrow")
					li(class="profits__item")
						div(class="profit")
							div(class="profit__header")
								i(class="profit__icon")
									svg(class="svg-icon svg-icon--white")
										use(xlink:href="#mobile")
								h2(class="profit__title") Бронирование
							div(class="profit__content")
								p(class="profit__text")
									| Нашими постоянными клиентами являются не&nbsp;только оптовики Иркутска и&nbsp;Иркутской области, но&nbsp;также из&nbsp;Бурятии, Забайкальского края и&nbsp;Якутии и&nbsp;мы&nbsp;намерены расширять горизонты. Мы&nbsp;осуществляем доставку товаров на&nbsp;своем. Нашими постоянными клиентами являются не&nbsp;только оптовики Иркутска и&nbsp;Иркутской области, но&nbsp;также из&nbsp;Бурятии, Забайкальского края и&nbsp;Якутии и&nbsp;мы&nbsp;намерены расширять горизонты. Мы&nbsp;осуществляем доставку товаров на&nbsp;своем.
								button(class="profit__more")
									i(class="profit__arrow")
					li(class="profits__item")
						div(class="profit")
							div(class="profit__header")
								i(class="profit__icon")
									svg(class="svg-icon svg-icon--white")
										use(xlink:href="#car2")
								h2(class="profit__title") Доставка по Иркутску бесплатно
							div(class="profit__content")
								p(class="profit__text")
									| Нашими постоянными клиентами являются не&nbsp;только оптовики Иркутска и&nbsp;Иркутской области, но&nbsp;также из&nbsp;Бурятии, Забайкальского края и&nbsp;Якутии и&nbsp;мы&nbsp;намерены расширять горизонты. Мы&nbsp;осуществляем доставку товаров на&nbsp;своем. Нашими постоянными клиентами являются не&nbsp;только оптовики Иркутска и&nbsp;Иркутской области, но&nbsp;также из&nbsp;Бурятии, Забайкальского края и&nbsp;Якутии и&nbsp;мы&nbsp;намерены расширять горизонты. Мы&nbsp;осуществляем доставку товаров на&nbsp;своем.
								button(class="profit__more")
									i(class="profit__arrow")
				div(class="text-block text-block--partnership")
					p(class="text-block__paragraph")
						span(class="blue-text") Стабильно:
						|  Компания &laquo;Байтекс&raquo; (ИП&nbsp;Бетина&nbsp;НН) существует на&nbsp;рынке оптовых поставок с&nbsp;2000&nbsp;года, на&nbsp;сегодняшний день это одна из&nbsp;крупнейших фирм на&nbsp;рынке трикотажа, белья и&nbsp;колготок по&nbsp;Восточно-Сибирскому региону. Индивидуальный подход к&nbsp;партнерам и&nbsp;постоянное исследование рынка сделали нашу компанию лидером в&nbsp;своей сфере.
					p(class="text-block__paragraph")
						span(class="blue-text") Удобно:
						|  Для наших постоянных клиентов&nbsp;&mdash; постоянно обновляющийся ассортимент продукции в&nbsp;каждом из&nbsp;наших направлений, большой выбор, эксклюзивные скидки. Для новых клиентов&nbsp;&mdash; сотрудники отдела продаж помогут советами, поделятся интересной информацией о&nbsp;новых технологиях, современных тенденциях в&nbsp;тканях и&nbsp;материалах. Подберут продукцию индивидуально, с&nbsp;учетом возможностей и&nbsp;особенностей вашего бизнеса.
					p(class="text-block__paragraph")
						span(class="blue-text") Выгодно:
						|  Наша компания работает напрямую с&nbsp;производителями, поэтому гарантируем качество и&nbsp;подлинность представленных изделий, и&nbsp;низкие цены. По&nbsp;качеству отечественная продукция не&nbsp;уступает импортной, а&nbsp;иногда и&nbsp;превосходит. А&nbsp;по&nbsp;ценам, гораздо более приемлема для оптовика и&nbsp;доступна для конечного потребителя с&nbsp;обычным уровнем доходов.
					p(class="text-block__paragraph")
						span(class="blue-text") Преимущества:
						|  у&nbsp;нас представлена продукция ведущих Российских производителей; все крупные производители колгот; бесплатная доставка по&nbsp;Иркутску; отправка в&nbsp;регионы, бронирование заказа по&nbsp;телефону и&nbsp;через интернет, отсрочка платежей и&nbsp;гибкая система скидок; самый большой магазин-склад на&nbsp;ул. Терешковой, д.22; второй склад-филиал в&nbsp;центре города&nbsp;&mdash; на&nbsp;ул. Софьи Перовской, д.29а
					p(class="text-block__paragraph text-block__paragraph--button")
						a(class="button button--lower-case", href="#", id="get-price")
							span(class="button__text") скачать прайс-лист

			div(class="popup-overlay")
			div(class="popup", id="get-price-popup")
				div(class="popup__content")
					form(class="popup__form")
						div(class="popup__to-hide")
							h2(class="popup__title") Получить прайс-лист
							div(class="popup__fields")
								input(type="text", class="input", placeholder="Имя")
								input(type="text", class="input", placeholder="Телефон")
								button(type="submit", class="popup__button button button--lower-case")
									span(class="button__text") отправить
					div(class="popup__success")
						h2(class="popup__title") 
							| Ваша заявка принята,
							br
							| мы свяжемся с Вами
							br
							| в ближайшее время
						a(class="popup__button popup__button--close button button--lower-case", href="#")
							span(class="button__text") хорошо
						
				button(class="popup__close")
					svg(class="svg-icon svg-icon--white")
						use(xlink:href="#close")
				
			include ../blocks/footer
