footer(class="footer-container footer-container--map")
	include up-and-map

	div(class="l_footer l_footer--map")
		div(class="footer")
			include footer-content

	p(class="copyright")
		| © 2016 Байтекс — оптовая продажа текстиля. Все права защищены.

script(src="http://maps.api.2gis.ru/2.0/loader.js?pkg=full")
script(src="assets/js/main-min.js")
