.contacts {
	width: $content-width;
	margin: 60px auto 0 auto;
	background: white;
	font-size: 0;

	&__item {
		width: 50%;
		display: inline-block;
		vertical-align: top;
		@include font-size(18px);

		&:nth-child(odd) {padding: 3.333333333333333em 0.8333333333333333em 3.333333333333333em 1.666666666666667em}
		&:nth-child(even) {padding: 3.333333333333333em 1.666666666666667em 3.333333333333333em 0.8333333333333333em}
	}

	&__object-name {
		@include font(roboto-slab-bold);
		font-size: 1.111111111111111;
		color: map-get($colors, blue);
		line-height: 1;
		padding-bottom: 1.5em;
		border-bottom: 1px solid;
		margin-bottom: 1.4em;
	}

	&__paragraph {
		line-height: 1.555555555555556;
	}

	&__button {
		font-size: 1em;
		margin-top: 2.888888888888889em;
	}
}
