.l_advantages {
	min-height: 538px;
	padding: 145px 0 0 0;
	border-bottom: 1px solid white;
	background: url(../resources/images/advantages-bg.jpg) center;
	position: relative;

	&::before {
		content: "";
		width: 100%; height: 100%;
		position: absolute;
		top: 0; left: 0;
		background: url(../resources/images/advantages-pattern.png) repeat;
	}
}

.advantages {
	width: $content-width;
	margin: auto;
	position: relative;

	&__list {
		margin-top: 94px;
		list-style: none;
		font-size: 0;
		text-align: center;
	}

	&__item {
		width: 33.33333333333333%;
		display: inline-block;
		vertical-align: top;
		@include font-size(24px);
	}

	&__icon {
		margin: auto;
		height: 2.666666666666667em;

		&--time {
			width: 2.541666666666667em;
		}

		&--assortment {
			width: 2.666666666666667em;
		}

		&--discount {
			width: 2.25em;
		}
	}

	&__text {
		margin-top: 1em;
		color: white;
		@include font(roboto-slab);
		line-height: 1.166666666666667;
		text-align: center;
	}
}

.girls {
	padding: 0 0 84px 0;
	overflow: hidden;

	&__content {
		display: table;
		width: 746px; height: 245px;
		margin: -60px auto 0 auto;
		position: relative;

		&::before,
		&::after {
			content: "";
			position: absolute;
			height: 548px;
		}

		&::before {
			width: 197px;
			left: -147px; top: -180px;
			background: url(../resources/images/left-girl.png);
			z-index: 3;
		}

		&::after {
			width: 150px;
			right: -93px; top: -165px;
			background: url(../resources/images/right-girl.png);
			z-index: 1;
		}
	}

	&__text {
		display: table-cell;
		vertical-align: middle;
		@include font-size(18px);
		padding: 0 4em;
		background: white;
		text-align: center;
		line-height: 1.555555555555556;
		position: relative;
		z-index: 2;

		&::after {
			content: "";
			width: 14px; height: 52px;
			position: absolute;
			top: 0; right: 0;
			background: url(../resources/images/girls-arm.png);
		}
	}
}

.product-teasers {
	list-style: none;

	&--vertical {
		width: $content-width;
		margin: -40px auto 0 auto;
		position: relative;
		z-index: 4;
	}

	&--tile {
		font-size: 0;
		width: ($content-width + 30px);
		margin: 45px auto 0 auto;
	}
}

.product-teaser-container {
	display: inline-block;
	vertical-align: top;
	width: 50%;
	padding: 15px 1.288659793814433%;
}

.product-teaser {
	&--vertical {
		position: relative;

		& + & {margin-top: 80px}
	}

	&__cover {
		display: block;
		height: 320px;
		text-decoration: none;
		border: 8px solid #f6f6f6;
		overflow: hidden;

		&--vertical {
			width: 48.67724867724868%;
			position: absolute;
			top: 30px; left: 0;
			z-index: 1;
			opacity: 1;
			@include transition(all);
		}

		&--right {
			left: initial;
			right: 0;
		}

		&--hidden {
			left: -75px;
			opacity: 0;
		}

		&--hidden.product-teaser__cover--right {
			left: initial;
			right: -75px;
		}
	}

	&__img {
		height: 100%;
		@include transition(all);
	}

	&__cover:hover > &__img {transform: scale(1.015)}

	&__content {
		background: white;
		@include font-size(18px);
		padding: 1.4em 0;
		overflow: hidden;

		&--vertical {
			width: 56.61375661375661%;
			min-height: 380px;
			margin-left: 43.38624338624339%;
			padding-right: 2.645502645502646%;
			padding-left: 7.936507936507937%;
			position: relative;
			left: 0;
			opacity: 1;
			@include transition(all);
		}

		&--left {
			margin-left: initial;
			margin-right: 43.38624338624339%;
			padding-left: 2.645502645502646%;
			padding-right: 7.936507936507937%;
		}

		&--hidden {
			left: 75px;
			opacity: 0;
		}

		&--hidden.product-teaser__content--left {
			left: -75px;
		}

		&--tile {
			position: relative;
			min-height: 21.11111111111111em;
			padding: 1.666666666666667em;
		}
	}

	&__title {
		font-size: 1.111111111111111em;
		@include font(roboto-slab-bold);
		padding: 0 0 1.4em 0;
		line-height: 1;
		color: map-get($colors, blue);
		border-bottom: 1px solid map-get($colors, blue);
	}

	&__link {
		text-decoration: none;
		color: inherit;
	}

	&__description {
		padding: 1.277777777777778em 0 2.888888888888889em 0;
		line-height: 1.555555555555556;
	}

	&__description,
	&__more {
		position: relative;
		z-index: 1;
	}

	&__square {
		width: 12.77777777777778em;
	    height: 12.77777777777778em;
	    transform: rotate(45deg);
		position: absolute;
	    bottom: -4.722222222222222em;
	    right: -4.611111111111111em;

		&--left {
			right: initial;
			left: -4.611111111111111em;
		}

		&--light-pink {background: #ffd0cc}
		&--pink {background: #efafb0}
		&--blue {background: #9cc4de}
		&--aqua {background: #c3ded9}
		&--other {background: #efdcce}
		&--light-other {background: #f1e8d9}
	}

	&__icon-container {
		position: absolute;
		bottom: 1.666666666666667em;
		right: 1.666666666666667em;

		&--tile {
			bottom: 5.434782608695652%;
			right: 5.434782608695652%;
		}

		&--left {
			right: initial;
			left: 1.666666666666667em;
		}

		&--tights {
			width: 3.444444444444444em;
			padding-bottom: 3.555555555555556em;
		}

		&--shirt,
		&--textile,
		&--bathrobe {
			width: 2.833333333333333em;
			padding-bottom: 2.833333333333333em;
		}

		&--underwear {
			width: 2.833333333333333em;
			padding-bottom: 2.388888888888889em;
		}

		&--socks {
			width: 2.833333333333333em;
			padding-bottom: 2.611111111111111em;
		}
	}
}

.about-company-teaser {
	background: white;
	padding: 60px;
	margin-top: 160px;
	text-align: center;

	&__content {
		width: 720px;
		margin: auto;
	}

	&__paragraph {
		@include font-size(18px);
		line-height: 1.555555555555556;

		& + & {margin-top: 1.555555555555556em}

		&:last-of-type {
			padding-bottom: 1.222222222222222em;
		}
	}
}
