.l_production-nav {
	background: map-get($colors, blue);
	padding: 45px;
}

.production-nav {
	width: ($content-width + 30px);
	margin: auto;
	font-size: 0;
	list-style: none;

	&__item {
		width: 33.33333333333333%;
		display: inline-block;
		vertical-align: top;
		padding: 15px 1.288659793814433%;
		position: relative;
	}

	&__link {
		display: block;
		outline: none;
		text-decoration: none;
		position: relative;

		&::before,
		&::after {
			content: "";
			position: absolute;
		}

		&::before {
			width: 100%; height: 100%;
			top: 3px; left: 3px;
			background: #c4c4c4;
			@include transition(all);
		}

		&::after {
			width: calc(100% - 10px);
			height: calc(100% - 10px);
			top: 0; left: 0; right: 0; bottom: 0;
			border: 5px solid #f6f6f6;
			background: transparent;
		}

		&--active {
			cursor: default;

			&::before {display: none}
		}

		&:active::before {top: 0; left: 0}
	}

	&__icon,
	&__title-container {
		display: inline-block;
		vertical-align: top;
		height: 4.0625em;
		@include font-size(16px);
		position: relative;
	}

	&__icon {
		width: 4.0625em;
		padding: 0.75em;

		&--tights {background: map-get($colors, tights)}
		&--knitwear {background: map-get($colors, knitwear)}
		&--textile {background: map-get($colors, textile)}
		&--socks {background: map-get($colors, socks)}
		&--underwear {background: map-get($colors, underwear)}
		&--terry {background: map-get($colors, terry)}
	}

	&__title-container {
		width: calc(100% - 4.0625em);
		padding: 0 1.125em;
		background: white;
	}

	&__title {
		@include font(roboto-slab);
		color: map-get($colors, blue);
		line-height: 1;
		position: relative;
		top: 50%;
		margin-top: -0.5em;
	}
}

.production {
	font-size: 0;

	&__sidebar,
	&__content {
		display: inline-block;
		vertical-align: top;
	}

	&__sidebar {
		width: 22.92768959435626%;
	}

	&__content {
		width: 74.33862433862434%;
		margin-left: 2.733686067019399%;
	}

	&__cover {
		display: block;
		width: 100%;;
		border: 10px solid #f6f6f6;
		margin-bottom: 30px;
	}

	&__img {
		display: block;
		width: 100%; height: auto;
	}
}

.brands {
	margin-top: 60px;
	list-style: none;
	font-size: 0;
	background: map-get($colors, blue);
	padding: 20px 0;

	&__item {
		width: 33.33333333333333%;
		display: inline-block;
		vertical-align: top;
		@include font-size(18px);
		padding: 0.25em 1.666666666666667em;
		position: relative;
	}

	&__title {
		color: white;
		line-height: 1;
		border-bottom: 1px solid transparent;
		@include transition(border);
		cursor: pointer;

		&--active,
		&:hover {border-bottom-color: white}

		&--active {cursor: default}
	}

	&__logo {
		position: absolute;
		bottom: 0.5em; left: calc(-100% + 1em);
		z-index: 10;
		width: 100%;
		background: white;
		border: 1px solid #c4c4c4;
		padding: 3.846153846153846%;
		opacity: 0;
		visibility: hidden;
		-webkit-transition: visibility 0s, opacity 0.325s;
		-moz-transition: visibility 0s, opacity 0.325s;
		-ms-transition: visibility 0s, opacity 0.325s;
		-o-transition: visibility 0s, opacity 0.325s;
		transition: visibility 0s, opacity 0.325s;
	}

	&__logo-img {
		display: block;
		width: 100%; height: auto;
		border: 1px solid #c4c4c4;
	}

	&__title:hover + &__logo {
		opacity: 1;
		visibility: visible;
	}
}

.brands-info {
	margin-top: 15px;

	&__item {
		display: none;

		&--active {display: block}
	}
}
