@mixin font($weight: '') {
	@if ($weight == 'roboto-slab') {
		font-family: 'Roboto Slab', serif;
		font-weight: 400;
	} @else if ($weight == 'roboto-slab-bold') {
		font-family: 'Roboto Slab', serif;
		font-weight: 700;
	} @else if ($weight == 'roboto-slab-light') {
		font-family: 'Roboto Slab', serif;
		font-weight: 300;
	} @else if ($weight == 'myriad-pro-semibold') {
		font-family: 'MyriadPro-Semibold', sans-serif;
		font-weight: normal;
	} @else {
		font-family: 'MyriadPro-Regular', sans-serif;
		font-weight: normal;
	}
}

@font-face {
	font-family: 'MyriadPro-Regular';
	src: url('../resources/fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),  url('../resources/fonts/MyriadPro-Regular.otf')  format('opentype'),
		url('../resources/fonts/MyriadPro-Regular.woff') format('woff'), url('../resources/fonts/MyriadPro-Regular.ttf') format('truetype'), url('../resources/fonts/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MyriadPro-Semibold';
	src: url('../resources/fonts/MyriadPro-Semibold.eot?#iefix') format('embedded-opentype'),  url('../resources/fonts/MyriadPro-Semibold.otf')  format('opentype'),
		url('../resources/fonts/MyriadPro-Semibold.woff') format('woff'), url('../resources/fonts/MyriadPro-Semibold.ttf') format('truetype'), url('../resources/fonts/MyriadPro-Semibold.svg#MyriadPro-Semibold') format('svg');
	font-weight: normal;
	font-style: normal;
}