.clearfix {
	&::before,
	&::after {
		content: " ";
		display: table;
	}

	&::after {
		clear: both;
	}
}

.vertical-helper {
	display: inline-block;
	height: 100%;

	&--top {vertical-align: top}
	&--middle {vertical-align: middle}
	&--bottom {vertical-align: bottom}
}

.not-decorate {
	text-decoration: none;
	color: inherit;
}
