$colors: (
	blue: #1e3f6f,
	gray: #444444,
	light-grey: #9f9f9f,
	dark-white: #dfdfdf,
	tights: #efdcce,
	knitwear: #9cc4de,
	textile: #ffd0cc,
	underwear: #c3ded9,
	socks: #efafb0,
	terry: #f1e8d9
);

$content-width: 1134px;
